* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #28a745; /* Cor verde vibrante */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#startButton:hover {
    background-color: #218838; /* Verde mais escuro ao passar o mouse */
    transform: translate(-50%, -50%) scale(1.1); /* Aumenta o tamanho suavemente */
}

#startButton:active {
    background-color: #1e7e34; /* Verde mais escuro quando clicado */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1.05); /* Ligeiramente menor ao clicar */
}

body, html {
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
    border: 2px solid #fff;
}


#player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
}

.enemy {
    position: absolute;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    z-index: 2;
}

#startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#startButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #45a049;
}

#game-over {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

#restartButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.hidden {
    display: none;
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.controls button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #777;
}
